body {
  background-color:tomato;
  background-image:linear-gradient(-45deg, crimson 48%, tomato 48%, tomato 52%, crimson 52%);
  background-size:50px 50px;
  padding:0;
  text-align:center;
}
#box {
  max-width:550px;
  margin:0 auto;
  border-radius:10px;
}
.insideRow {
  width:100%;  
  background:white; 
  border-radius:10px;
  margin: 25px 0px;
  box-shadow:0 0 10px 3px rgba(0,0,0,.25);
}
.insideRow:first-child, .insideRow:last-child {
  background:transparent;
  color:white;
  box-shadow:none;
}

.insideRow:first-child p, .insideRow:last-child p { 
  color:white;
  text-shadow:1px 1px darkred;
}

.insideRow div {
  padding:20px;
}

img {
  width:100%;
  max-width:400px;
}

p {
  font-size:70px;
  line-height:100%;
  color:tomato;
  font-family: 'Abril Fatface', cursive;
  margin-top:20px;
  margin-bottom:20px
}

span {
  font-size:20px;
}